<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>B-Productive</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

  <div class="container-index" id="container-index">
    <h1>Bem-vindo ao B-Productive</h1>
    <span><p>Organize suas tarefas de forma eficiente e aumente sua produtividade!</p></span>
    <span>
      <p>
        O B-Productive oferece uma maneira simples e intuitiva de gerenciar suas
        atividades diárias, seja no trabalho, nos estudos ou na vida pessoal. Crie
        listas personalizadas, adicione tarefas com facilidade, acompanhe o 
        progresso e nunca mais esqueça uma tarefa importante!
      </p>
    </span>
    <form action="/app" method="get">
      <button type="submit">Comece a Gerenciar suas Tarefas</button>
    </form>
  </div>

</body>

</html>