<header>
  <div class="header">
    <nav>
      <ul>
        <li><a href="/" id="inicio">B-Productive</a></li>
        <li><a href="/app">Todas as listas</a></li>
        <li><a href="/app/nova-lista">Nova Lista</a></li>
      </ul>
    </nav>
  </div>
</header>